# Gaussian Data Analysis

This notebook is analyzing the Gaussian simulation study

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
load_path = r"G:\My Drive\Studium\UNIGE_Master\Thesis\Master_Thesis\Data\Gaussian_Data_processed\Gauss_Processed_data.pkl"

#loading the data
# df = pd.read_csv(load_path) # takes way longer and loads from csv source
df = pd.read_pickle(load_path)

In [4]:
df.shape[0] # the expected number of rows is 27000*1500 = 40500000, the simulation fucked up

40230000

# Notes

* For big sigma convergence is might not be achieved for 1500 iterations => AUTO should fix it. Good result
* bigger sigma needs more iteration => clear but important result

# Full Aggregation

In [19]:
def last_150_rows(group):
    return group.tail(150)

full_group_by = ["mu", "sigma", "b", "xsize", "ysize", "ID"]

df_last_150 = df.groupby(full_group_by).apply(last_150_rows).reset_index(drop=True)

df_last_150

C:\Users\nickk\AppData\Local\Temp\ipykernel_9368\2439513004.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_last_150 = df.groupby(full_group_by).apply(last_150_rows).reset_index(drop=True)

,mu_hat,sigma_hat,MMD,b,time,mu_hat_MLE,sigma_hat_MLE,mu,sigma,xsize,ysize,ID
0,-2.663525,1.779942,-0.002156,0.01,4.950003,-2.735997,1.819368,-3,2,50,50,1
1,-2.658453,1.790461,-0.001933,0.01,4.953640,-2.735997,1.819368,-3,2,50,50,1
2,-2.658108,1.810872,-0.001444,0.01,4.957137,-2.735997,1.819368,-3,2,50,50,1
3,-2.658157,1.834404,-0.002516,0.01,4.960838,-2.735997,1.819368,-3,2,50,50,1
4,-2.657728,1.865246,-0.002144,0.01,4.964622,-2.735997,1.819368,-3,2,50,50,1
...,...,...,...,...,...,...,...,...,...,...,...,...
16090545,48.941700,24.995398,0.007572,0.10,23.176852,47.238914,40.310440,50,40,1000,1000,150
16090546,48.940876,25.002914,0.006437,0.10,23.193815,47.238914,40.310440,50,40,1000,1000,150
16090547,48.943123,25.010485,0.006612,0.10,23.212719,47.238914,40.310440,50,40,1000,1000,150
16090548,48.945340,25.018072,0.008870,0.10,23.230572,47.238914,40.310440,50,40,1000,1000,150
16090549,48.945057,25.025677,0.007591,0.10,23.248108,47.238914,40.310440,50,40,1000,1000,150

In [33]:
df_last_150_aggregated = df_last_150.drop(["time", "MMD"], axis=1).groupby(full_group_by).agg(["count", 'mean', "std"])
df_last_150_aggregated

                               mu_hat                      sigma_hat  \
                                count       mean       std     count
mu  sigma b    xsize ysize ID
-3  2     0.01 50    50    1      150  -2.727881  0.076614       150
                           2      150  -3.111784  0.129122       150
                           4      150  -3.297921  0.101446       150
                           5      150  -3.038660  0.090056       150
                           6      150  -2.827915  0.115662       150
...                               ...        ...       ...       ...
 50 40    0.10 1000  1000  146    150  47.557811  0.073208       150
                           147    150  49.283106  0.072622       150
                           148    150  51.870562  0.104965       150
                           149    150  51.716934  0.023909       150
                           150    150  48.957960  0.035315       150

                                                    mu_hat_MLE             \
                                     mean       std      count       mean
mu  sigma b    xsize ysize ID
-3  2     0.01 50    50    1     1.836742  0.138445        150  -2.735997
                           2     1.980446  0.107567        150  -3.078314
                           4     1.537737  0.107025        150  -3.281941
                           5     1.959953  0.185349        150  -3.001362
                           6     1.755450  0.063356        150  -2.807826
...                                   ...       ...        ...        ...
 50 40    0.10 1000  1000  146  24.123537  0.340061        150  49.615010
                           147  24.546854  0.339262        150  50.285820
                           148  24.401411  0.330594        150  50.338430
                           149  24.725495  0.343508        150  50.719456
                           150  24.460801  0.333157        150  47.238914

                                    sigma_hat_MLE
                                std         count       mean  std
mu  sigma b    xsize ysize ID
-3  2     0.01 50    50    1    0.0           150   1.819368  0.0
                           2    0.0           150   1.948005  0.0
                           4    0.0           150   1.577719  0.0
                           5    0.0           150   1.997410  0.0
                           6    0.0           150   1.749543  0.0
...                             ...           ...        ...  ...
 50 40    0.10 1000  1000  146  0.0           150  40.022762  0.0
                           147  0.0           150  40.204388  0.0
                           148  0.0           150  39.287660  0.0
                           149  0.0           150  39.729843  0.0
                           150  0.0           150  40.310440  0.0

[151951 rows x 12 columns]

In [37]:
df_last_150_aggregated.groupby(["mu", "sigma", "b", "xsize", "ysize"]).mean()

                           mu_hat                      sigma_hat             \
                            count       mean       std     count       mean
mu  sigma b    xsize ysize
-3  2     0.01 50    50     150.0  -2.969956  0.101890     150.0   1.995820
               100   50     150.0  -2.978073  0.081299     150.0   1.961718
                     100    150.0  -2.943957  0.083142     150.0   2.007869
               200   50     150.0  -2.991229  0.063449     150.0   1.979681
                     100    150.0  -3.015656  0.063233     150.0   1.989734
...                           ...        ...       ...       ...        ...
 50 40    0.10 1000  50     150.0  45.160730  0.546186     150.0  24.331205
                     100    150.0  48.243126  0.296221     150.0  24.276184
                     200    150.0  49.869534  0.223641     150.0  24.484764
                     500    150.0  49.619224  0.130459     150.0  24.549356
                     1000   150.0  49.601195  0.088705     150.0  24.613419

                                     mu_hat_MLE                 sigma_hat_MLE  \
                                 std      count       mean  std         count
mu  sigma b    xsize ysize
-3  2     0.01 50    50     0.114891      150.0  -2.974163  0.0         150.0
               100   50     0.081975      150.0  -2.978202  0.0         150.0
                     100    0.084604      150.0  -2.941970  0.0         150.0
               200   50     0.060720      150.0  -2.989881  0.0         150.0
                     100    0.060009      150.0  -3.015195  0.0         150.0
...                              ...        ...        ...  ...           ...
 50 40    0.10 1000  50     0.324280      150.0  49.950516  0.0         150.0
                     100    0.319242      150.0  49.934859  0.0         150.0
                     200    0.333600      150.0  50.186761  0.0         150.0
                     500    0.338892      150.0  50.249367  0.0         150.0
                     1000   0.341863      150.0  49.840157  0.0         150.0


                                 mean  std
mu  sigma b    xsize ysize
-3  2     0.01 50    50      1.990794  0.0
               100   50      1.957558  0.0
                     100     2.009429  0.0
               200   50      1.977969  0.0
                     100     1.988609  0.0
...                               ...  ...
 50 40    0.10 1000  50     39.459934  0.0
                     100    39.487959  0.0
                     200    39.777506  0.0
                     500    39.903081  0.0
                     1000   40.030013  0.0

[132956 rows x 12 columns]

In [34]:
df_last_150_noID = df.groupby(full_group_by).apply(last_150_rows).reset_index(drop=True)
df_last_150_noID_aggregated = df_last_150.drop(["time", "MMD"], axis=1).groupby(full_group_by).agg(["count", 'mean', "std"])
df_last_150_aggregated

mu_hat         count    1.609055e+07
               mean     2.804902e+06
               std      8.299853e+04
sigma_hat      count    1.609055e+07
               mean     2.916423e+06
               std      9.451263e+04
mu_hat_MLE     count    1.609055e+07
               mean     3.570034e+06
               std      0.000000e+00
sigma_hat_MLE  count    1.609055e+07
               mean     3.168725e+06
               std      0.000000e+00
dtype: float64

# check mu -3 and sigma 2 case

In [5]:
df.columns

Index(['mu_hat', 'sigma_hat', 'MMD', 'b', 'time', 'mu_hat_MLE',
       'sigma_hat_MLE', 'mu', 'sigma', 'xsize', 'ysize', 'ID'],
      dtype='object')

In [6]:
df_muneg3_sigma_2 = df[(df["mu"] == -3) & (df["sigma"]== 2)]
df_muneg3_sigma_2

,mu_hat,sigma_hat,MMD,b,time,mu_hat_MLE,sigma_hat_MLE,mu,sigma,xsize,ysize,ID
0,-0.100000,1.100000,0.163193,0.010000,0.004306,-3.003443,2.049971,-3,2,200,200,1
1,-0.199801,1.187607,0.142575,0.010000,0.008036,-3.003443,2.049971,-3,2,200,200,1
2,-0.299535,1.273132,0.140953,0.010000,0.012190,-3.003443,2.049971,-3,2,200,200,1
3,-0.399158,1.347453,0.136431,0.010000,0.016328,-3.003443,2.049971,-3,2,200,200,1
4,-0.498147,1.429359,0.108485,0.010000,0.020019,-3.003443,2.049971,-3,2,200,200,1
...,...,...,...,...,...,...,...,...,...,...,...,...
223495,-2.712346,1.885437,-0.004108,0.285005,6.370727,-2.878819,1.821447,-3,2,200,200,150
223496,-2.682663,1.892766,-0.004869,0.285005,6.375328,-2.878819,1.821447,-3,2,200,200,150
223497,-2.660192,1.888110,-0.002222,0.285005,6.379909,-2.878819,1.821447,-3,2,200,200,150
223498,-2.656245,1.880518,0.001430,0.285005,6.384955,-2.878819,1.821447,-3,2,200,200,150
223499,-2.666681,1.869512,0.001399,0.285005,6.389864,-2.878819,1.821447,-3,2,200,200,150

In [7]:
df_muneg3_sigma_2.groupby(["b", "xsize", "ysize", "ID"]).sum()

                               mu_hat    sigma_hat       MMD          time  \
b        xsize ysize ID
0.010000 50    50    1   -4068.336944  2759.076022 -0.566685   4048.216690
                     2   -4609.232486  2903.597253 -0.023300   5041.987626
                     4   -4869.937346  2363.768188  1.109992  13906.675301
                     5   -4480.814978  3013.257461 -0.364001   9184.001765
                     6   -4180.002656  2646.197381 -0.057476   7302.367598
...                               ...          ...       ...           ...
0.724926 200   50    107  -294.311319   117.119937 -0.392805    145.560798
0.753313 200   50    107  -292.326042   117.785230 -0.406285    188.879405
0.761218 200   50    107  -292.860560   118.708737 -0.419413    570.370357
0.765564 200   50    107  -292.596754   116.479255 -0.436207    527.052572
0.774186 200   50    107  -292.752191   118.465754 -0.403077    612.997318

                          mu_hat_MLE  sigma_hat_MLE    mu  sigma
b        xsize ysize ID
0.010000 50    50    1   -4103.99550     2729.05140 -4500   3000
                     2   -4617.47070     2922.00795 -4500   3000
                     4   -4922.91210     2366.57805 -4500   3000
                     5   -4502.04240     2996.11500 -4500   3000
                     6   -4211.73840     2624.31375 -4500   3000
...                              ...            ...   ...    ...
0.724926 200   50    107  -303.54493      156.89042  -300    200
0.753313 200   50    107  -303.54493      156.89042  -300    200
0.761218 200   50    107  -303.54493      156.89042  -300    200
0.765564 200   50    107  -303.54493      156.89042  -300    200
0.774186 200   50    107  -303.54493      156.89042  -300    200

[37995 rows x 8 columns]

In [8]:
df.groupby(["mu", "sigma","b", "xsize", "ysize", "ID"]).mean()

                                   mu_hat  sigma_hat       MMD       time  \
mu  sigma b    xsize ysize ID
-3  2     0.01 50    50    1    -2.712225   1.839384 -0.000378   2.698811
                           2    -3.072822   1.935732 -0.000016   3.361325
                           4    -3.246625   1.575845  0.000740   9.271117
                           5    -2.987210   2.008838 -0.000243   6.122668
                           6    -2.786668   1.764132 -0.000038   4.868245
...                                   ...        ...       ...        ...
 50 40    0.10 1000  1000  146  38.720573  16.878853  0.058386  11.955060
                           147  38.947549  17.124477  0.060141  11.580292
                           148  40.606113  17.097919  0.060259  11.670342
                           149  40.771676  17.172520  0.060445  10.958443
                           150  36.574512  17.115878  0.061209  11.152340

                                mu_hat_MLE  sigma_hat_MLE
mu  sigma b    xsize ysize ID
-3  2     0.01 50    50    1     -2.735997       1.819368
                           2     -3.078314       1.948005
                           4     -3.281941       1.577719
                           5     -3.001362       1.997410
                           6     -2.807826       1.749542
...                                    ...            ...
 50 40    0.10 1000  1000  146   49.615010      40.022762
                           147   50.285820      40.204388
                           148   50.338430      39.287660
                           149   50.719456      39.729843
                           150   47.238914      40.310440

[151951 rows x 6 columns]

In [9]:
df.columns

Index(['mu_hat', 'sigma_hat', 'MMD', 'b', 'time', 'mu_hat_MLE',
       'sigma_hat_MLE', 'mu', 'sigma', 'xsize', 'ysize', 'ID'],
      dtype='object')

In [10]:
27000*1500

40500000

In [11]:
df.head(100)

,mu_hat,sigma_hat,MMD,b,time,mu_hat_MLE,sigma_hat_MLE,mu,sigma,xsize,ysize,ID
0,0.100000,1.100000,0.839728,0.1,0.011029,50.44502,41.22256,50,40,1000,200,1
1,0.199893,1.200026,0.813284,0.1,0.020507,50.44502,41.22256,50,40,1000,200,1
2,0.299605,1.300038,0.790953,0.1,0.028641,50.44502,41.22256,50,40,1000,200,1
3,0.398962,1.400033,0.759617,0.1,0.036208,50.44502,41.22256,50,40,1000,200,1
4,0.497889,1.499942,0.731004,0.1,0.044335,50.44502,41.22256,50,40,1000,200,1
...,...,...,...,...,...,...,...,...,...,...,...,...
95,6.682957,6.744842,0.200691,0.1,0.802129,50.44502,41.22256,50,40,1000,200,1
96,6.724434,6.777035,0.197065,0.1,0.809704,50.44502,41.22256,50,40,1000,200,1
97,6.765193,6.809111,0.203094,0.1,0.816976,50.44502,41.22256,50,40,1000,200,1
98,6.805974,6.840968,0.196547,0.1,0.825791,50.44502,41.22256,50,40,1000,200,1
99,6.846342,6.872693,0.198353,0.1,0.834051,50.44502,41.22256,50,40,1000,200,1